<div class="flex-shrink-0 sticky p-3 bg-white" style="width: 200px;">
    <a href="/"
        class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                data-bs-toggle="collapse" data-bs-target="#home-collapse"
                aria-expanded="true">
                <b>Home</b>
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="dashboard"
                            class="link-dark d-inline-flex text-decoration-none rounded">
                            DashBoard</a>
                    </li>
                    <li><a href="#"
                            class="link-dark d-inline-flex text-decoration-none rounded">
                            Test</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                data-bs-toggle="collapse" data-bs-target="#my-reservations-collapse"
                aria-expanded="true">
                <b>Your page</b>
            </button>
            <div class="collapse show" id="my-reservations-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#"
                            class="link-dark d-inline-flex text-decoration-none rounded">
                            User</a>
                        </li>
                    <li><a href="#"
                            class="link-dark d-inline-flex text-decoration-none rounded">
                            My reservations</a>
                    </li>
                    <li><a href="reservation-history"
                            class="link-dark d-inline-flex text-decoration-none rounded">
                            My reservations history</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>