<div class="content">
    <h1>Reserve a spot #</h1>
    <div class="cs-form" style="width: 50%; margin: 0 auto;">
        <p>Reservation time start</p>
        <input type="time" class="form-control" value="10:05 AM"/>
    </div>
    <div class="cs-form" style="width: 50%; margin: 0 auto;">
        <p>Reservation time end</p>
        <input type="time" class="form-control" value="10:05 AM"/>
    </div>

    <div class="cs-form" style="width: 50%; margin: 0 auto;">
        <p>Reservation date</p>
        <input type="date" class="form-control" value="2021-06-01"/>
    </div>
    <br>
    <a class="btn" (click)="ReserveSpot()">Reserve</a>
</div>