<div class="login-container">
  <h2>Logowanie</h2>
  <form {formGroup}="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *NgIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small>Email jest wymagany i musi być poprawny.</small>
    </div>

    <label for="password">Hasło:</label>
    <input type="password" id="password" formControlName="password">
    <div *NgIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small>Hasło musi mieć min. 6 znaków.</small>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Zaloguj</button>
  </form>
</div>

