<h2>Rejestracja:</h2>
  <form>
      <div id="Rejestracja">
        <label for="imie">Imie:</label><br>
          <input type="text" id="imie" name="imie" ><br>
          <br><label for="nazwisko">Nazwisko:</label><br>
          <input type="text" id="nazwisko" name="nazwisko" ><br>
      
          <br><label for="username">Nazwa użytkownika:</label><br>
          <input type="text" id="username" name="username" ><br>
          
      
         <br> <label for="email">E-mail:</label><br>
          <input type="email" id="email" name="email"><br>
    
          <br><label for="password">Hasło:</label><br>
          <input type="password" id="password" name="password" ><br>
     
          <br><button (click)="submmitRegistration()">Zarejestruj</button>
        
        </div>
  </form>
