<div class="container">
    <h1 style="text-align: center;">Parking Spots</h1>

    <h2>Parking - Piętro 2</h2>
    <div class="parking-grid">
        <div class="zone">
            <h3>Strefa A</h3>
            <img src="assets/images/Floor-2-Zone-A.png" alt="Parking Floor 2 Zone A">
        </div>

        <div class="zone">
            <h3>Strefa B</h3>
            <img src="assets/images/Floor-2-Zone-B.png" alt="Parking Floor 2 Zone B">
        </div>

        <div class="zone">
            <h3>Strefa C</h3>
            <img src="assets/images/Floor-2-Zone-C.png" alt="Parking Floor 2 Zone C">
        </div>
    </div>

    <h2>Parking - Piętro 3</h2>
    <div class="parking-grid">
        <div class="zone">
            <h3>Strefa A</h3>
            <img src="assets/images/Floor-3-Zone-A.png" alt="Parking Floor 3 Zone A">
        </div>
    </div>
<div class="container">
    <h1 style="text-align: center;">Parking Spots</h1>
    <div class="parking-grid">
        @for (spot of parking_service_spot; track spot)
        {
            <app-park-spot-panel [spot]="spot"></app-park-spot-panel>
        }
    </div>
</div>
