<app-navbar-panel></app-navbar-panel>


<div class="container-fluid">
    <div class="row">
        <div class="flex-shrink-0 sticky p-3 bg-white" style="width: 120px;">
            <app-side-bar></app-side-bar>
        </div>

        <div class="col">
            <h2>Parking - Piętro 2</h2>
    <div class="parking-grid">
        <div class="zone">
            <h3>Strefa A</h3>
            <img src="assets/images/Floor-2-Zone-A.png" alt="Parking Floor 2 Zone A">
        </div>

        <div class="zone">
            <h3>Strefa B</h3>
            <img src="assets/images/Floor-2-Zone-B.png" alt="Parking Floor 2 Zone B">
        </div>

        <div class="zone">
            <h3>Strefa C</h3>
            <img src="assets/images/Floor-2-Zone-C.png" alt="Parking Floor 2 Zone C">
        </div>
    </div>

    <h2>Parking - Piętro 3</h2>
    <div class="parking-grid">
        <div class="zone">
            <h3>Strefa A</h3>
            <img src="assets/images/Floor-3-Zone-A.png" alt="Parking Floor 3 Zone A">
        </div>
    </div>
            <app-display-park-spots></app-display-park-spots>
        </div>
    </div>
</div>

<app-footer></app-footer>